@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root
{
    --blanche: #ffff;
    --noir: #222;
    --primaire: #0c8cd7;
    --gris: #888;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1
{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2
{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4
{
    font-size: 20px;
    color: #222;
}

h6
{
    font-weight: 700;
    font-size: 13px;
}

p
{
    font-size: 1rem;
    color: #465b52;
    margin: 15px 0 20px 0;
}

a
{
    text-decoration: none;
    color: inherit;
}

.section-p1
{
    padding: 40px 80px;
}

.section-m1
{
    margin: 40px 0;
}

button.normal
{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    color: var(--blanche);
    background-color: var(--primaire);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 200ms;
}

button.white
{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: var(--blanche);
    background-color: transparent;
    border: 1px solid var(--blanche);
    cursor: pointer;
    outline: none;
    transition: 200ms;
}

body
{
    width: 100%;
}

/* Header */

#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 80px;
    background-color: var(--blanche);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo
{
    height: 3rem;
}

#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a i
{
    font-size: 20px;
}

#navbar li a:hover,
#navbar li a.active
{
    color: var(--primaire);
}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: var(--primaire);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*Home page*/

#banniere
{
    height: calc(100vh - 3rem);
    overflow: hidden;
    background-color: whitesmoke;
    position: relative;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banniere-contenu
{
    height: 100%;
}

.banniere-contenu .gauche
{
    margin-top: 11rem;
}

.banniere-contenu .gauche h1
{
    color: var(--primaire);
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 3.5rem;
}

.banniere-contenu .gauche h2
{
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 2.5rem;
}

.banniere-contenu .gauche h4
{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.banniere-contenu .gauche p
{
    font-weight: 400;
    color: #607d8b;
}

#banniere .droit img
{
    position: absolute;
    bottom: 0;
    right: 7%;
    width: 600px;
}

.banniere-contenu .gauche a
{
    display: inline-block;
    background-color: var(--primaire);
    border-radius: 5rem;
    color: var(--blanche);
    font-weight: 600;
    text-align: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    transition: all 0.5s;
    cursor: pointer;
}

.banniere-contenu .gauche a span 
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.banniere-contenu .gauche a:hover 
{
    transform: scale(1.1);
    background-color: #00a2ff;
}

/*.banniere-contenu .gauche a span::after 
{
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.banniere-contenu .gauche a:hover span 
{
    padding-right: 1.5rem;
}

.banniere-contenu .gauche a:hover span:after 
{
    opacity: 1;
    right: 0;
}*/

#feature
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box
{
    width: 250px;
    text-align: center;
    padding: 25px 20px 15px 15px;
    color: var(--blanche);
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    margin: 55px 0;
}

#feature .fe-box:hover
{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6
{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    margin-bottom: 5px;
    line-height: 1;
    border-radius: 4px;
    color: var(--blanche);
    background-color: #ff9801;
}

#feature .fe-box:nth-child(2) h6
{
    background-color: #8388ef;
}

#feature .fe-box:nth-child(3) h6
{
    background-color: #fedb41;
}

#feature .fe-box:nth-child(4) h6
{
    background-color: #e20059;
}

#feature .fe-box img
{
    margin-bottom: 10px;
    width: 150px;
}

#feature .fe-box .text
{
    display: block;
    padding-top: 5px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    color: #607d8b;
}

#feature .fe-box .text .seuil-prix-livraison
{
    font-size: 10px;
}

#product1
{
    text-align: center;
}

#product1 .pro-container
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro
{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro .description
{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .description span
{
    color: #607d8b;
    font-size: 12px;
}

#product1 .pro .description h5
{
    padding: 7px 7px 0 0;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .description h4
{
    padding-top: 7px;
    font-size: 14px;
    font-weight: 700;
    color: var(--primaire);
}

#product1 .pro .description i
{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro:hover
{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .proImg
{
    width: 100%;
    transition: 500ms ease;

}

#product1 .pro .proImg:hover
{
    transform: scale(1.1);
}

#product1 .pro a img
{
    width: 40px;
    border-radius: 5px;
    background-color: var(--primaire);
    padding: 2px 3px;
    position: absolute;
    bottom: 22px;
    right: 10px;
    transition: 500ms ease;
}

#product1 .pro a img:hover
{
    transform: scale(1.1);
    background-color: #00a2ff;
}

#banniere-rapair-service
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/10.jpg");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#banniere-rapair-service h4
{
    color: var(--blanche);
    font-size: 16px;
}

#banniere-rapair-service h2
{
    color: var(--blanche);
    font: 30px;
    padding: 10px 0;
}

#banniere-rapair-service h2 span
{
    color: #00a2ff;
}

button.normal:hover
{
    background-color: #00a2ff;
}

#sm-banniere
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banniere .banniere-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/sm-banniere.png");
    width: 535px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banniere h4
{
    color: var(--blanche);
    font-size: 28px;
    font-weight: 300;
}

#sm-banniere h2
{
    color: var(--blanche);
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 15px;
}

#sm-banniere span
{
    color: var(--blanche);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banniere .banniere-box:hover button
{
    background-color: var(--primaire);
    border: 1px solid var(--primaire);
}